{{ partial "seo.html" . }}
{{ if .Site.Params.googleAnalytics }}
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.googleAnalytics }}"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','{{ .Site.Params.googleAnalytics }}');</script>
{{ end }}

{{ if .Site.Params.adsenseClient }}
<!-- AdSense -->
<script data-ad-client="{{ .Site.Params.adsenseClient }}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{{ end }}
